ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 480px;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
    padding: 0 15px;
  }
}

.button--border {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  padding: 11px 24px;
  border: 2px solid rgb(248, 210, 78);
  border-radius: 10px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.0714285714;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0);
}
.button--border:hover, .button--border:focus {
  border-color: rgb(10, 136, 23);
}
.button--border:focus {
  color: rgb(252, 252, 252);
}

.button--withoutBorder {
  padding: 11px 0;
  border: 2px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.0714285714;
  text-decoration: underline;
  color: rgb(248, 210, 78);
  background-color: rgba(255, 255, 255, 0);
}

body {
  font-family: Montserrat, sans-serif, serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: rgb(19, 19, 19);
  background-color: rgb(132, 161, 120);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  padding: 12px 0 50px;
}
@media screen and (min-width: 480px) {
  .header {
    padding: 14px 0 40px;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 40px;
  height: 37px;
}
@media screen and (min-width: 480px) {
  .header__logo {
    width: 48px;
    height: 44px;
  }
}

.header__list {
  display: none;
}

.moble__btn {
  border: none;
  background-color: inherit;
}

.header__btn {
  display: none;
}

.hero {
  position: relative;
  height: 403px;
  background-image: url("../../img/header_img/mobile.png"), url("../../img/header_img/dots320.png");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom right 60px, right bottom;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url("../../img/header_img/mobile@2x.png"), url("../../img/header_img/dots320@2x.png");
    background-size: 177px 217px, 320px;
  }
}
@media screen and (min-width: 480px) {
  .hero {
    height: 317px;
    background-image: url("../../img/header_img/mobile480.png"), url("../../img/header_img/dots480.png");
    background-repeat: no-repeat, no-repeat;
    background-position: bottom right 20px, right bottom;
    background-size: 218px 267px, 330px;
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../../img/header_img/mobile480@2x.png"), url("../../img/header_img/dots480@2x.png");
  }
}

.hero__title {
  max-width: 247px;
  margin-bottom: 32px;
  font-family: Seymour One;
  font-size: 26px;
  font-weight: 400;
  line-height: 32.68px;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  color: rgb(252, 252, 252);
}
.hero__title--span {
  font-size: 34px;
  line-height: 32.81px;
}

.btn_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.hero__wrapper {
  display: none;
}

.hero__restaurant {
  display: none;
}

.product {
  padding: 61px 0;
  background-image: url("../../img/background/mobile.jpg");
  background-position: 61% -16%;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .product {
    background-image: url("../../img/background/mobile@2x.jpg");
    background-size: 885px 1242px;
  }
}

.product__pretitle {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.2222222222;
  text-align: center;
}

.product__title {
  margin-bottom: 148px;
  font-family: Seymour One;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2333333333;
  letter-spacing: 0.1px;
  text-align: center;
  text-transform: uppercase;
}

.product__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 168px;
}

.product__item {
  position: relative;
  padding: 0 40px 16px 40px;
  border-radius: 24px;
}
.product__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .product__item::before {
    background-size: cover;
  }
}
.product__item:nth-child(1) {
  background-color: rgb(174, 198, 165);
}
.product__item:nth-child(1)::before {
  background-image: url("../../img/ice-cream/kelsey-curtis-G5ZenftPPOA-unsplash 2.png");
  -webkit-box-shadow: 0px 11px 0px 0px rgb(174, 198, 165), 0px 11px 11px 2px rgba(0, 0, 0, 0.62);
          box-shadow: 0px 11px 0px 0px rgb(174, 198, 165), 0px 11px 11px 2px rgba(0, 0, 0, 0.62);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .product__item:nth-child(1)::before {
    background-image: url("../../img/ice-cream/kelsey-curtis-G5ZenftPPOA-unsplash 2@2x.png");
  }
}
.product__item:nth-child(2) {
  background-color: rgb(239, 212, 120);
}
.product__item:nth-child(2)::before {
  background-image: url("../../img/ice-cream/pariwat-pannium-0_qbeF_0zn8-unsplash 1.png");
  -webkit-box-shadow: 0px 11px 0px 0px rgb(239, 212, 120), 0px 11px 11px 2px rgba(0, 0, 0, 0.62);
          box-shadow: 0px 11px 0px 0px rgb(239, 212, 120), 0px 11px 11px 2px rgba(0, 0, 0, 0.62);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .product__item:nth-child(2)::before {
    background-image: url("../../img/ice-cream/pariwat-pannium-0_qbeF_0zn8-unsplash 1@2x.png");
  }
}
.product__item:nth-child(3) {
  background-color: rgb(214, 147, 109);
}
.product__item:nth-child(3)::before {
  background-image: url("../../img/ice-cream/victor-rutka-4FujjkcI40g-unsplash 1.png");
  -webkit-box-shadow: 0px 11px 0px 0px rgb(214, 147, 109), 0px 11px 11px 2px rgba(0, 0, 0, 0.62);
          box-shadow: 0px 11px 0px 0px rgb(214, 147, 109), 0px 11px 11px 2px rgba(0, 0, 0, 0.62);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .product__item:nth-child(3)::before {
    background-image: url("../../img/ice-cream/victor-rutka-4FujjkcI40g-unsplash 1@2x.png");
  }
}
@media screen and (min-width: 480px) {
  .product__item {
    padding: 0 60px 16px 60px;
  }
}

.product__desc {
  margin-top: 126px;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.1px;
  text-align: center;
  text-transform: uppercase;
}

.product__text {
  margin-bottom: 101px;
  width: 200px;
  font-size: 14px;
  line-height: 1.7642857143;
  letter-spacing: 0.1px;
  text-align: center;
}

.product__svg {
  display: block;
  margin: 0 auto;
  fill: rgb(19, 19, 19);
}/*# sourceMappingURL=main.css.map */