@import "../utils/colors";
@import "../utils/fonts";

.about {
  padding: 60px 0 32px 0;
  background-color: getColor("background");

  @media screen and (min-width: $tablet) {
    padding: 60px 0;
  }
}

.about__pretitle {
  margin-bottom: 12px;

  font-size: 18px;
  font-weight: 700;
  line-height: calc(22 / 18);
  text-align: center;
  text-transform: uppercase;

  color: getColor("white");

  @media screen and (min-width: $tablet) {
    font-size: 22px;
    font-weight: 800;
    line-height: calc(27 / 22);
  }
}

.about__title {
  margin-bottom: 54px;

  font-family: getFont("secondary");
  font-size: 30px;
  font-weight: 400;
  line-height: calc(38 / 30);
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;

  color: getColor("white");

  @media screen and (min-width: $tablet) {
    margin-bottom: 72px;

    font-size: 34px;
    line-height: calc(42 / 34);
    letter-spacing: 1.5px;
  }
}

.about__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    gap: 38px;
  }
}

.about__img {
  margin-bottom: 40px;

  border-radius: 50%;

  box-shadow: 0px -22px 0px 0px rgb(239, 212, 120);

  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
  }
}

.about__card {
}

.about__content {
  display: flex;
  flex-direction: column;
  gap: 4px;

  margin: 0 auto;
  margin-bottom: 24px;

  width: 220px;

  @media screen and (min-width: $tablet) {
    gap: 8px;

    margin-bottom: 32px;

    width: auto;
  }
}

.about__text {
  font-size: 12px;
  line-height: calc(21.12 / 12);
  letter-spacing: 1px;
  text-align: center;

  color: getColor("white");
}

.about__description {
  font-size: 12px;
  line-height: calc(18 / 12);
  letter-spacing: 1px;
  text-align: center;

  color: getColor("white");
}

.about__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;

  margin-top: 50px;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    gap: 80px;

    margin-top: 60px;
  }
}

.about__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  width: 230px;

  @media screen and (min-width: $tablet) {
    gap: 0;

    width: auto;
  }
}

.about__iconBlock {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;

  border-radius: 50%;
  background-color: getColor("primary");
}

.about__info {
  font-size: 36px;
  font-weight: 700;
  line-height: calc(44 / 36);
  letter-spacing: 1px;

  color: getColor("white");

  @media screen and (min-width: $tablet) {
    margin-top: 32px;

    font-size: 48px;
    line-height: calc(59 / 48);
  }
}

.about__detail {
  text-align: center;

  font-size: 12px;
  line-height: calc(20 / 12);

  color: getColor("white");

  @media screen and (min-width: $tablet) {
    margin-top: 12px;

    font-size: 14px;
    line-height: calc(24.36 / 14);
  }
}
