@import "../utils/colors";
@import "../utils/fonts";

.contacts {
  padding-bottom: 60px;
  background-image: linear-gradient(
    to bottom,
    rgba(0 0 0 / 0) 24%,
    getColor("background") 24%
  );

  @media screen and (min-width: $tablet) {
    padding-bottom: 40px;
    background-image: linear-gradient(
      to bottom,
      rgba(0 0 0 / 0) 44%,
      getColor("background") 44%
    );
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
  }
}

.contacts__item {
  width: 280px;

  padding: 16px 32px 0 32px;
  border-radius: 24px;
  box-shadow: 0px 8px 30px 0px getColor("box");

  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;

  background-color: getColor("white");

  @media screen and (min-width: $tablet) {
    width: calc((100% - 32px) / 3);

    padding: 16px 24px 0 24px;

    font-size: 14px;
  }
}

.contacts__container {
  padding: 24px 0;

  border-bottom: 1px solid getColor("border");

  @media screen and (min-width: $tablet) {
    padding: 32px 0;
  }

  &:last-child {
    border-bottom: none;
  }
}

.contacts__institution {
  display: inline-block;
  margin-bottom: 20px;
  padding: 4px 22px;

  border-radius: 4px;

  line-height: calc(14.4 / 12);

  background-color: getColor("primary");

  @media screen and (min-width: $tablet) {
    margin-bottom: 36px;
    padding: 4px 10px;

    border-radius: 6px;

    font-size: 16px;
    line-height: calc(22.4 / 16);
  }
}

.contacts__city {
  margin-bottom: 8px;

  line-height: calc(22.4 / 12);

  @media screen and (min-width: $tablet) {
    margin-bottom: 12px;
  }
}

.contacts__address {
  line-height: calc(22 / 12);

  color: getColor("bgChocolate");
}

.contacts__wrap {
  line-height: calc((22.4 / 12));
  letter-spacing: 0;
}

.contacts__wrap:not(:last-child) {
  margin-bottom: 8px;
}

.contacts__day {
}

.contacts__time {
  color: getColor("gray");
}

.contacts__date {
  display: inline-block;

  line-height: calc(19.2 / 12);
  letter-spacing: 0;

  color: getColor("main");

  @media screen and (min-width: $tablet) {
    line-height: calc(21 / 14);
  }

  &:not(:last-child) {
    margin-bottom: 6px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 4px;
    }
  }
}

.contacts__itemBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  margin-top: 20px;

  @media screen and (min-width: $mobile) {
    margin-top: 24px;
  }

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    justify-content: center;

    margin-top: 40px;
  }
}

.contacts__btn {
  &:nth-child(1) {
    @extend .button--fullBg;
    padding: 12px 40px;
  }

  &:nth-child(2) {
    @extend .button--border;
    padding: 12px 52px;
  }
}
