@import "../utils/colors";
@import "../utils/fonts";

.footer {
  position: relative;
  background-color: getColor("background");
}

.footer__conainer {
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 32px;
  }
}

.footer__quote {
  width: 232px;

  margin-bottom: 60px;

  @media screen and (min-width: $tablet) {
    width: 352px;

    margin-bottom: 0;
  }
}

.footer__title {
  margin-bottom: 16px;

  font-size: 18px;
  font-weight: 700;
  line-height: calc(22 / 18);

  text-transform: uppercase;

  color: getColor("white");

  @media screen and (min-width: $tablet) {
    margin-bottom: 8px;

    font-size: 26px;
    line-height: calc(32 / 26);
  }
}

.footer__pretitle {
  font-size: 34px;
  font-weight: 700;
  line-height: calc(41 / 34);
  letter-spacing: 1.3px;

  text-transform: uppercase;

  color: getColor("white");

  @media screen and (min-width: $tablet) {
    font-size: 48px;
    line-height: calc(59 / 48);
  }
}

.footer__box {
  margin-bottom: 20px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
  }
}

.footer__list {
  display: flex;
  justify-content: flex-end;
  gap: 20px;

  margin-bottom: 20px;

  @media screen and (min-width: $tablet) {
    gap: 30px;

    margin-bottom: 34px;
  }
}

.footer__item {
}

.footer__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 34px;
  height: 34px;

  border-radius: 50%;

  background-color: getColor("primary");
}

.footer__icon {
  fill: getColor("background");

  .footer__link:hover &,
  .footer__link:focus & {
    fill: getColor("white");
  }
}

.footer__contact {
  font-size: 12px;
  font-weight: 700;
  line-height: calc(22.32 / 12);

  text-align: right;

  @media screen and (min-width: $tablet) {
    font-size: 14px;
  }
}

.footer__number {
  font-family: getFont("third");
  font-weight: 500;
  line-height: calc(22.32 / 12);

  color: getColor("white");
}

.footer__line {
  position: absolute;
  bottom: 80px;
  left: 0;
  width: 100vw;
  border: 1px solid getColor("border");

  @media screen and (min-width: $tablet) {
    bottom: 50px;
  }
}

.footer__copyright {
  width: 280px;
  margin: 0 auto;
  padding: 20px 0 24px 0;

  font-weight: 700;
  line-height: calc(21.28 / 14);

  text-align: center;

  color: getColor("rarely");

  @media screen and (min-width: $tablet) {
    width: auto;

    padding: 12px 0;

    line-height: calc(26.4 / 14);
  }
}
