@import "../utils/colors";
@import "../utils/fonts";

.gallery {
  padding-bottom: 60px;
  background-image: linear-gradient(
    to bottom,
    getColor("background") 5%,
    rgba(255 255 255 / 0) 5%
  );

  @media screen and (min-width: $tablet) {
    padding-bottom: 80px;
    background-image: linear-gradient(
      to bottom,
      getColor("background") 15%,
      rgba(255 255 255 / 0) 15%
    );
  }
}

.gallery__content {
}

.gallery__pic {
  margin: 0 auto;
  margin-bottom: 80px;

  border-radius: 8px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 100px;

    border-radius: 18px;
  }
}

.gallery__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  margin-bottom: 12px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 32px;
  }
}

.gallery__img {
  width: 85px;
  height: 85px;
}

.gallery__comment {
  width: 280px;

  padding: 35px 39px;
  border-radius: 10px;

  text-align: center;

  font-size: 12px;
  line-height: calc(30 / 12);

  color: getColor("white");

  background-color: getColor("background");

  @media screen and (min-width: $tablet) {
    width: auto;

    padding: 28px 80px;

    font-size: 14px;
    font-weight: 500;
    line-height: calc(26.04 / 14);
    letter-spacing: 1px;
  }
}

.gallery__name {
  font-size: 20px;
  font-weight: 500;
  line-height: calc(37.2 / 20);
}

.gallery__list {
  display: flex;
  justify-content: center;
  gap: 18px;
}

.gallery__dot {
  fill: getColor("dot");

  &--active {
    fill: getColor("background");
  }
}
