@import "../utils/colors";
@import "../utils/fonts";

.gallery {
  padding-bottom: 60px;
  background-image: linear-gradient(
    to bottom,
    getColor("background") 5%,
    rgba(255 255 255 / 0) 5%
  );
}

.gallery__content {
}

.gallery__pic {
  margin: 0 auto;
  margin-bottom: 80px;

  border-radius: 8px;
}

.gallery__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  margin-bottom: 12px;
}

.gallery__img {
  width: 85px;
  height: 85px;
}

.gallery__comment {
  width: 280px;

  padding: 35px 39px;
  border-radius: 10px;

  text-align: center;

  font-size: 12px;
  line-height: calc(30 / 12);

  color: getColor("white");

  background-color: getColor("background");
}

.gallery__name {
  font-size: 20px;
  font-weight: 500;
  line-height: calc(37.2 / 20);
}

.gallery__list {
  display: flex;
  justify-content: center;
  gap: 18px;
}

.gallery__dot {
  fill: getColor("dot");

  &--active {
    fill: getColor("background");
  }
}
