@import "../utils/colors";
@import "../utils/fonts";
@import "../utils/buttons";

.header {
  padding: 12px 0 50px;
  background-color: getColor("background");

  @media screen and (min-width: $mobile) {
    padding: 14px 0 40px;
  }

  @media screen and (min-width: $tablet) {
    padding: 20px 0 14px;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 40px;
  height: 37px;

  @media screen and (min-width: $mobile) {
    width: 48px;
    height: 44px;
  }
}

.header__list {
  display: none;
}

.header__item {
}

.header__link {
}

.btn__wrap {
  display: flex;
  gap: 32px;
}

.mob__menu {
  border: none;
  background-color: inherit;
}

.mobile_icon {
}

.header__btn {
  display: none;

  @media screen and (min-width: $tablet) {
    display: inline-flex;
    padding: 12px 36px;
  }
}
