@import "../utils/colors";
@import "../utils/fonts";

.hero {
  position: relative;
  height: 403px;
  background-color: getColor("background");
  background-image: url("../../img/header_img/mobile.png"),
    url("../../img/header_img/dots320.png");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom right 60px, right bottom;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("../../img/header_img/mobile@2x.png"),
      url("../../img/header_img/dots320@2x.png");
    background-size: 177px 217px, 320px;
  }

  @media screen and (min-width: $mobile) {
    height: 317px;
    background-image: url("../../img/header_img/mobile480.png"),
      url("../../img/header_img/dots480.png");
    background-repeat: no-repeat, no-repeat;
    background-position: bottom right 20px, right bottom;
    background-size: 218px 267px, 330px;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../../img/header_img/mobile480@2x.png"),
        url("../../img/header_img/dots480@2x.png");
    }
  }
}

.hero__wrap {
}

.hero__title {
  max-width: 247px;
  margin-bottom: 32px;

  font-family: getFont("secondary");
  font-size: 26px;
  font-weight: 400;
  line-height: 32.68px;
  letter-spacing: 1px;

  text-transform: uppercase;
  color: getColor("white");

  &--span {
    font-size: 34px;
    line-height: 32.81px;
    letter-spacing: 0;
  }
}

.btn_container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.hero__wrapper {
  display: none;
}

.hero__text {
}

.hero__arrow {
}

.hero__restaurant {
  display: none;
}

.hero__chain {
  &--number {
  }
}
