@import "./fonts";
@import "./colors";

body {
  font-family: getFont("main"), sans-serif, serif;
  // <!--Было 16px-->
  font-size: 14px;
  font-weight: 400;
  font-style: normal;

  color: getColor("main");
  background-image: url("../../img/background/mobile.jpg");

  background-repeat: repeat-y;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("../../img/background/mobile@2x.jpg");
    background-size: 885px 1242px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
